/* minimal */
ion-button {
  margin: 12px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-start: 16px;
  --padding-end: 16px;
  --border-radius: 8px;
}
ion-button.outline {
  --background: transparent;
  --color: var(--ion-color-primary);
  --border-color: var(--ion-color-primary);
  --border-style: solid;
  --border-width: 1px;
}