<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ontario"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-ontario-aqhi></app-ontario-aqhi>


  <ion-card *ngIf="rec as r">
    <ion-card-header
      ><ion-card-title>{{ r.city }}</ion-card-title></ion-card-header
    >
    <ion-card-content>
      <p>Temperature: {{ r.temperatureC }} °C</p>
      <p>AQHI: {{ r.aqhi }}</p>
    </ion-card-content>
  </ion-card>

 
  <ion-button (click)="sendMessage()">Send Message</ion-button>
</ion-content>
