<ion-header>
  <ion-toolbar>
    <ion-title>Ontario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-ontario-aqhi></app-ontario-aqhi>

  <ion-note *ngIf="incomingMessage"
    >Message from Details: {{incomingMessage}}</ion-note
  >

  <ion-note>Dataset: {{datasetNote}} • Time: {{datasetTime}}</ion-note>

  <ion-list>
    <ion-item
      *ngFor="let r of records"
      [routerLink]="['/details']"
      [state]="{ record: r }"
    >
      ...
    </ion-item>
  </ion-list>
</ion-content>
